.top {
    margin-top:20px;
    margin-bottom:30px;
}

#title {
    text-align:center;
    font-weight:bold;
    font-size:40pt;
    color:darkgray;
    text-shadow:0px 0px 3px rgba(255,255,255,0.4);
}

body {
    background:url(background.jpg);
    background-size:cover;
}

.buttonGroup {
    margin-bottom:20px;
    text-align:center;
}

.buttonGroup button {
    margin-left: 1.5px;
    margin-right: 1.5px;
}

.contain {
    display: grid;
    padding: 1px;
    width: 500px;
    height: 500px;
    max-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    border: 10px solid rgb(100,100,100);
}

.gr {
    border: 0.7px solid black;
    background-color: white;
}